@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
}

/* headings and logo */

h1, h2 {
    font-family: Barlow Condensed, sans-serif;
}


#menu {
    font-size: 120%;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #3f3e68;
}

.active {
    border-bottom: 2px solid #3f3e68;
}

/* hero image */

.hero-image {
    background-image: url("../images/Shopping\ cart\ next\ to\ girl\ ordering\ food\ via\ mobile\ app.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .hero-text {
    text-align: center;
    color: #3f3e68;
    position: absolute;
    top: 25%;
    left: 15%;
    transform: translate(-50%, -50%);
    font-size: 55px;
    letter-spacing: 4px;
  }

.hero-text > p {
    font-size: medium;
}

/* mission */

#mission {
    margin-bottom: 30px;
}

#mission > h1 {
    font-size: 60px;
    margin-top: 30px;
    margin-left: 30px;
    padding-bottom: 20px;
    text-align: center;
}

#mission > p {
    margin-left: 30px;
    font-size: 25px;
    clear: both;
    text-align: center;
}

.sales-points {
    padding: 5vh 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }



  .sales-point i {
    font-size: 220%;
    margin: 1%;
    padding: 5%;
  }
  
  @media (min-width: 40rem) {
    .sales-points {
      flex-direction: row;
    }
  }

  .sales-point {
    flex-basis: 30%;
  }


/* call to action section */

.cta-container {
  padding: 5vh 0;
  display: flex;
  justify-content: center;
}

img {
    width: 30%;
    padding-left: 5vh;
    padding-right: 5vh;
}

.cta-text {
    width: 25%;
    padding-left: 5vh;
    padding-right: 5vh;
}

.cta-text > h1 {
    font-size: 100px;
    color: #3f3e68;
    padding-bottom: 5px;
}

.cta-button {
    display: block; 
    height: 10%; 
    width: 50%; 
    background: #3f3e68; 
    color: #ffffff; 
    text-align: center; 
    font-weight: bold; 
    border-radius: 20px; 
    text-decoration: none; 
    line-height: 200%; 
    font-weight: bold; 
    font-size: 150%; 
    font-family: sans-serif;
}


/* footer */
footer {
height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* how it works page*/

/* how it works headere*/

#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
    color: #3f3e68;
}

/* how it works body */

.htw > h1 {
    clear: both;
    display: flex;
    font-size: 100px;
    padding: 7vh;
    color: #3f3e68;
    background-color: #eff3fc;
    justify-content: center;
}

.htw-container-1 {
    padding: 5vh 0;
    display: flex;
    justify-content: center;
    clear: both;
  }
  
  .htw-box-1 {
      width: 500px;
      height: 300px;
      padding-left: 5vh;
      padding-right: 5vh;
  }
  
  .htw-text-1 {
      width: 25%;
      padding-left: 5vh;
      padding-right: 5vh;
      align-self: center;
  }
  
  .htw-text-1 > h1 {
      font-size: 50px;
      color: #3f3e68;
      padding-bottom: 10px;
  }
.htw-banner {
    background-color: #eff3fc;
}
.banner {
    padding: 5vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    clear: both;
}

.banner-pic {
    padding-left: 5vh;
    padding-right: 5vh;
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.banner-text {
    padding-left: 5vh;
    padding-right: 5vh;
    align-self: center;
}

.banner-text > h1 {
    font-size: 50px;
    color: #3f3e68;
    padding-bottom: 10px;
}