@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
}

/* headings and logo */

h1, h2 {
    font-family: Barlow Condensed, sans-serif;
}


#menu {
    font-size: 120%;
    color: white;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #ffffff;
}

.active {
    border-bottom: 2px solid #ffffff;
}

/* hero image */

.hero-image {
    background-image: url("../images/hero-image-600px.png");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    letter-spacing: 4px;
  }

.hero-text > p {
    font-size: medium;
}