@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
}

/* headings and logo */

h1, h2 {
    font-family: Barlow Condensed, sans-serif;
}


#menu {
    font-size: 120%;
    color: white;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #ffffff;
}

.active {
    border-bottom: 2px solid #ffffff;
}

/* hero image */

.hero-image {
    background-image: url("../images/hero-image-600px.png");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 55px;
    letter-spacing: 4px;
  }

.hero-text > p {
    font-size: medium;
}

/* mission */

#mission {
    height: 600px;
    margin-bottom: 30px;
}

#mission > h1 {
    font-size: 60px;
    margin-top: 30px;
    margin-left: 30px;
    padding-bottom: 20px;
    float: left;
}

#mission > p {
    margin-left: 30px;
    font-size: 25px;
    clear: both;
    float: left;
}

#reasons {
    padding: 30px;
    clear:left;
    margin-left: 30px;
}

#answers li {
    list-style-type: none;
    display: inline-block;
    width: 33%;
}

#save-money-pic {
    width: 200px;
    height: 200px;
    padding: 30px;
    margin: 0 auto;
    background: url(../images/save-money.jpg) no-repeat center center;
}

#save-money-pic ~ h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}

#save-time-pic ~ h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}

#co2-reduction-pic ~ h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}

/* about us section */

#about-us {
    height: 600px;
    background-color: #52e2c9;
}

#about-us-pic-border {
    width: 45%;
    height: 50%;
    clear: both;
    float: left;
    margin: auto;
    padding: 50px 50px;
}

#about-us-pic {
    background: url('../images/about-us-600px.png') no-repeat center center;
    height: 500px;
    width: 500px;
}

#about-us-text {
    width: 45%;
    clear: right;
    float: right;
    padding-top: 75px;
}

#about-us-text > h1 {
    font-size: 60px;
    float: left;
    margin: 0 auto;
    padding-bottom: 10px;
}

#about-us-text > p {
    font-size: 20px;
    clear: both;
    float: left;
}
